- content_for :head do
  %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/vocabulist.css' }
  %script{ type: 'text/javascript', src: 'javascripts/vocabulist.js' }

%input#author-search{type: 'textfield'}
%input#title-search{type: 'textfield'}
%input#show-checked{type: 'checkbox'}

%ul.authors{ style: 'width:50%;' }
  - works.each do |author, writings|
    %li.author{name: author.downcase}
      = author
      %ul.writings
        - writings.each do |writing|
          %li.writing{name: writing.first.downcase }
            %input{type: 'checkbox', value: writing.last }
            = writing.first
